<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>css_version</key>
	<string>201501082202</string>
	<key>css_url</key>
	<string>http://www.qiumingxing.cn/AppConfig/YB/common.css</string>
</dict>
</plist>
